body {
  background-color: #181818;
}

canvas {
  background-color: #181818;
}
svg {
  max-height: 100vh;
  max-width: 100vw;
}

a:focus {
  fill: green;
  stroke: #181818;
  outline: none;
}

.on {
  fill: white;
  stroke: #181818;
}
